.product-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0 0 25px 25px;
    box-shadow: 8px 20px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-align: center;
    height:80px; 
    margin: 0px 20px;
}

.header-content h1 {
    font-size: 1rem;
    color: #333;
    margin: 0;
}